/* base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-color: #0d0c0c;
    --dark-color-transparent: rgba(13, 12, 12, 0.30);
    --dark-color-transparent-2: rgba(13, 12, 12, 0.90);
    --light-color: rgb(236, 232, 228);
    --light-color-transparent: rgba(236, 232, 228, 0.25);
    --light-color-transparent-2: rgba(236, 232, 228, 0.5);
    --color-1: #F49283;
    --color-2: #3CBECF;
    --color-3: #728CCC;
    --color-4: #E95D7B;
    --color-neutro: #171717;

    --radius-small: 10px;
    
    --font-titles: 'Gluten', sans-serif;
    --font-body: 'Josefin Sans', sans-serif;
}

body {
    font-family: var(--font-body);
}

.bg {
    width: 100%;
    height: 100vh;
}

p {
    padding-top: 8px;
}

/* títulos */

h1 {
    font-family: var(--font-titles);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 4em;
}

h1.pag {
    font-size: 2.5em;
    padding-top: 50px;
}

h2 {
    font-family: var(--font-body);
    font-weight: 400;
    text-shadow: 0px 0px 5px var(--dark-color-transparent);
}

/* botones */

button {
    font-family: var(--font-body);
    padding: 10px 20px;
    background-color: unset;
    border: 1px solid var(--light-color);
    border-radius: 100px;
    color: var(--light-color);
    transition: all;
    transition-duration: 0.4s;
    margin-top: 20px;
}

button:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
    box-shadow: 0px 0px 10px var(--light-color-transparent-2);
    cursor: pointer;
}

.item-buttons button{
    margin: 0px;
    border: none;
    padding: 0px;
    filter: invert();
}

.item-buttons button:hover {
    border: 1px solid var(--light-color);
    border: none;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
}

.item-buttons button img:hover{
    scale: 0.9;
}

button:active {
    box-shadow: 0px 0px 15px var(--light-color);
    border: 1px solid var(--dark-color);
}

/* separadores */

.separator {
    border-bottom: 1px solid var(--light-color-transparent-2);
    margin: 10px 0px;
}

div.space {
    display: block;
    height: 30px;
    width: 100%;
}

/* navegación */

nav {
    font-family: var(--font-body);
    font-weight: 300;
    bottom: 10px;
    width: calc(100% - 20px);
    margin: 0px 10px;
    border-radius: 50px;
}

.navfixed {
    z-index: 10;
    position: fixed;
    font-size: 1.2rem;
}

ul {
    list-style: none;
}

nav ul li {
    background-color: var(--dark-color);
    float: left;
    list-style: none;
    text-align: center;
    transition: all 0.5s;
    border-radius: 50px;
    border-width: 10px;
}

ul.color li {
    width: calc(50% - 10px);
    margin: 0 5px;
}

ul.color:hover li {
    opacity: 0;
}

ul.color li:hover {
    opacity: 1;
}

ul.color li:hover:nth-child(1) {
    box-shadow: 0 0 0 1500px var(--color-1);
    transform: translateY(-8px);
}

ul.color li:hover:nth-child(2) {
    box-shadow: 0 0 0 1500px var(--color-3);
    transform: translateY(-8px);
}

li a {
    color: var(--light-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 25px 8px;
}

/* top */

.top {
    z-index: 10;
}

/* top left */

section.left {
    position: fixed;
    top: 20px;
    left: 20px;
}

.left {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.left a {
    color: var(--light-color);
    text-decoration: none;
    padding-right: 10px;
}

.left img {
    height: 30px;
    filter: invert();
}

.left a {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.left a.top-contacto::before {
    content: "|";
    font-family: var(--font-body);
    margin-right: 10px;
}

.left a.top-nosotros::after {
    font-family: var(--font-body);
    margin-left: 8px;
}

/* top right */

section.right {
    position: fixed;
    top: 20px;
    right: 20px;
}

.right {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
}

.right img {
    height: 20px;
    padding-left: 8px;
}

/* inicio */

.inicio {
    background: url("../img/fondo.jpg");
    background-position: bottom;
    background-size: cover;
}

.inicio::before {
    content: "";
    position: absolute;
    inset: 0;
}

.inicio::before {
    background-color: var(--dark-color-transparent);
}

#home {
    position: relative;
    z-index: 10;
}

/* fondos colores */

body:has(main>section.contacto) {
    background-color: var(--color-2);
}

body:has(main>section.nosotros) {
    background-color: var(--color-4);
}

body:has(main>section.sesiones) {
    background-color: var(--color-3);
}

/* container y content */

#container {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

div#container:has(.sesiones) {
    display: block;
}

.content {
    padding: 30px 30px 98px 30px;
    text-align: center;
    min-width: 500px;
    max-width: 100%;
    color: var(--light-color);
}

/* info contacto */

.info-contacto {
    display: flex;
    flex-flow: column nowrap;
}

.info-contacto>ul {
    width: auto;
    padding-top: 20px;
}

.info-contacto>ul>li {
    border-bottom: 1px dashed var(--light-color-transparent-2);
    padding: 10px;
}

/* bloques */

.block {
    padding: 50px;
    background-color: var(--dark-color-transparent);
    border-radius: var(--radius-small);
    position: relative; 
    animation: slideInFromLeft ease-in-out both;
    /* 
    animation-timeline: scroll();
    animation-timeline: view();
    animation-range: entry;
   */
}

.block .row {
    display: flex;
    align-items: center;
}

.block:has(.row.center){
    animation: slideInFromRight 0.8s ease-in-out both;
}

.block:has(.row.reverse){
    animation: slideInFromRight ease-in-out both;
    /* 
    animation-timeline: scroll();
    animation-timeline: view();
    animation-range: entry;
   */
}

.block .content-inner-left,
.block .text {
    width: 50%;
}

.block .text {
    padding: 0 0 0 40px;
    text-align: left;
}

.block .content-inner-left img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: var(--radius-small);
}

.block .title {
    margin-bottom: 20px;
}

.block .description {
    line-height: 1.5;
}

.row.center {
    flex-direction: column;
}

.row.reverse {
    flex-direction: row-reverse;
}

.row.reverse .text {
    padding: 0 40px 0 0;
}

@media (max-width: 960px) {
    .block {
        padding: 0 0 30px 0;
    }

    .block .row {
        flex-direction: column;
    }

    .block .content-inner-left,
    .block .text {
        width: 100%;
    }

    .block .content-inner-left img {
        border-radius: var(--radius-small) var(--radius-small) 0 0;
    }

    .block .text {
        padding: 30px 20px 0;
        text-align: left;
    }
    .row.reverse .text {
    padding: 30px 20px 0;
    }

    .block .row.center div {
        padding: 40px 20px 0;
    }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  80% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  80% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* productos */

.grid {
    display: grid;
    gap: 1rem;
    max-width: 1280px;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1025px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card{
    color: var(--light-color);
    border:1px solid var(--dark-color-transparent);
    border-radius:var(--radius-small);
    padding: 1.25rem;
    margin-bottom:1.25rem;
}

.product {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    border-radius: var(--radius-small);
    background-color: var(--dark-color-transparent);
    align-items: stretch;
    align-content: flex-end;
    flex-wrap: wrap;
}

div.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8rem;
}

p.categoria {
    text-align: left;
}

p.fecha {
    text-align: right;
}

.product h3{
    font-family: var(--font-titles);
    font-weight: 300;
    min-height: 75px;
    padding-top: 15px;
}

p.descripcion{
    min-height: 60px;
}

.product h3, .product .descripcion{
    text-align: left;
}

/* carrito */

body img.cart {
    filter: invert();
}

.cart-summary{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-top:.5rem;
  margin-top:.5rem;
  padding: 15px;
}

.list{
    padding-left:0;
    margin:.5rem 0;
}
.list li{
  display:flex;
  flex-direction: column;
  justify-content:left;
  gap:0rem;
  padding:1rem .75rem;
  border-bottom:1px solid var(--light-color-transparent);
}

.right img.cart {
    height: 30px;
}

.right img.cart:hover {
    scale: 0.9;
}

.carrito {
    position: fixed;
    top: 0;
    right: -360px;
    width: 350px;
    height: calc(100% - 165px);
    background-color: var(--color-neutro);
    box-shadow: -3px 0 8px rgba(0,0,0,0.2);
    padding: 2rem;
    transition: right 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
    margin-top: 75px;
    border-radius: var(--radius-small) 0 0 var(--radius-small);
    margin-bottom: 80px;
}

.carrito.abierto {
    right: 0;
}

.item-nombre {
    text-align: left;
}

.item-info {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

#globoUnidades {
    font-size: 0.8em;
    color: var(--light-color);
    position: relative;
    top: 0px;
}

div:has(#globoUnidades) {
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}